%p
  - if @vote.user.present?
    = @vote.user.name
  - else
    An anonymous user
  voted
  - if @vote.trust > 0
    up
  - else
    down
  your
  = "#{@vote.topic.downcase}."

%p
  = pluralize(@vote.display_trust.abs, 'trust point')
  has been
  = @vote.display_trust > 0 ? 'added' : 'removed'
  from your
  = "#{@vote.topic.downcase}."

%p
  %strong
    Your
    = @vote.topic
  %br
  = @object.text

%p
  You can answer or comment on this
  = @vote.topic.downcase
  here:
%p
  = link_to(@vote.topic, @object)
