.question_form
  = form_for(question) do |f|
    - if question.errors.any?
      #error_explanation
        %h2
          = pluralize(question.errors.count, "error")
          prohibited this question from being saved:
        %ul
          - question.errors.full_messages.each do |message|
            %li= message

    %br

    .form-group
      %h5= f.label :text, "Question"
      = f.text_area :text, class: 'form-control'

    .form-group
      %h5= f.label :details, "Details"
      = f.text_area :details, class: 'form-control'

    .form-group
      = f.submit 'Save Question', class: 'btn btn-action'
