.question.col-sm-12
  .vote.col-sm-1
    = render partial: 'votes/vote', locals: {object: question, positive: true}
    .down-vote
      = render partial: 'votes/vote', locals: {object: question, positive: false}
    .vote-total
      %h3
        .small= (question.vote_total.to_f / 10.0)
  .votable.col-sm-11
    %h4
      %span.title Q:
      = link_to(question.text, question)

    .small.answer
      = markdown("**A:** #{question.answers.first.text}") if question.answers.present?
      = link_to '&nbsp;'.html_safe, question, class: 'fadeout'

    .details.small
      = question.created_at.strftime('%m/%d/%y')
      &nbsp; &nbsp;
      By
      = question.user.present? ? link_to(question.user.name, question) : 'Anonymous'
