.question.col-sm-12
  = render partial: 'votable/votes', locals: {object: question}
  .votable.col-sm-11
    %h4
      %span.title Q:
      = link_to(question.text, question)

    .small.answer
      = markdown("**A:** #{question.answers.first.text}") if question.answers.present?
      = link_to '&nbsp;'.html_safe, question, class: 'fadeout'

    .details.small
      Topic:
      = link_to question.topic.title, question.topic
      &nbsp; &nbsp;
      = question.created_at.strftime('%m/%d/%y')
      &nbsp; &nbsp;
      By
      = question.user.present? ? link_to(question.user.name, '') : 'Anonymous'
