.content
  = render('topics/topic_path', topic: @question.topic) if @question.topic.present?

  .question{id: "question-#{@question.id}"}
    %h3 Question:

    .votable
      = render partial: 'votable/votes', locals: {object: @question}
      .voted.col-xs-10.col-sm-11
        %h4= @question.text
        %p.small.highlighted_links
          - if @question.details.present?
            = markdown(@question.details)
          - else
            &nbsp;
        - if @question.comments.present?
          .comments
            = render @question.comments
        %p.small.comment_link
          - if @question.owned_by?(current_user || @temporary_user)
            = link_to('Edit', edit_question_path(@question))
            &nbsp; &nbsp;
            = link_to('Delete', @question, method: :delete, data: {confirm: 'Are you sure you want to delete this question?'})
          - else
            = link_to('Ask A Clarifying Question', new_comment_path(comment: {question_id: @question.id}))

        %br
        = render @question.followings.new
        = render @question.flags.new, detailed: true

  .answer_question.col-xs-12
    %h4
      Answer This Question
      - unless user_signed_in?
        %br{class: 'visible-xs'}
        %small (no registration required)
    = form_for @answer do |f|
      .form-group
        = f.text_area :text, class: 'form-control expandable', placeholder: 'Your Answer'
        = f.text_area :proof, class: 'form-control expandable optional', placeholder: 'Why should people believe your answer (optional)'
        = f.hidden_field :question_id
        - if user_signed_in?
          = f.submit 'Submit Answer', class: 'btn btn-action'
        - else
          - modal_id = "confirm-anonymous-#{@answer.total_identifier}"
          %span.btn.btn-action{data: {toggle: 'modal', target: "##{modal_id}"}} Submit Answer
          = render partial: 'anonymous/submit_modal', locals: {modal_id: modal_id, object_name: 'answer', form: f}
        %small
          ( format answers with
          = link_to('markdown', 'https://en.support.wordpress.com/markdown-quick-reference/', target: '_blank')
          ) &nbsp; (
          = link_to('Markdown Q&A', 'http://www.infiniteq.net/topics/markdown', target: '_blank')
          )

  .col-xs-12
    %h4 Answers
  = render partial: 'votable/tabs', locals: {records: @question.answers.persisted, type: 'answers'}
