.col-sm-12
  = render('topics/topic_path', topic: @question.topic) if @question.topic.present?

  .question
    %h3 Question:
    %h4= @question.text
    - if @question.details.present?
      .small= markdown(@question.details)

  .answer_question
    %h4 Answer This Question
    = form_for @answer do |f|
      .form-group
        = f.text_area :text, class: 'form-control', placeholder: 'Your Answer'
        = f.hidden_field :question_id
        = f.submit 'Submit Answer', class: 'btn btn-default'


  %h4 Answers
  = render partial: 'votable/tabs', locals: {records: @question.answers.persisted, type: 'answers'}
