.col-sm-12
  - if notice.present?
    %p#notice= notice

  - if @question.topic.present?
    %p
      Topic:
      = link_to @question.topic.title, @question.topic

  .question
    %h4= @question.text
    .small= @question.details

  .answer_question
    %h5 Answer This Question
    = form_for @answer do |f|
      .form-group
        = f.text_area :text, class: 'form-control', placeholder: 'Your Answer'
        = f.hidden_field :question_id
        = f.submit 'Submit Answer', class: 'btn btn-default'


  %h5 Answers
  .answers
    - @question.answers.persisted.each do |answer|
      .answer
        %p= markdown(answer.text)
    - if @question.answers.persisted.empty?
      %br
      %h5 No answers have been provided yet.
