= render partial: 'trust_events/trust', locals: {event: event}
= link_to(event.user.name, event.user)
voted
= event.event_object.positive? ? 'up' : 'down'
an answer written by
= event.event_user.name
= render partial: 'trust_events/time', locals: {event: event}
