= render partial: 'trust_events/trust', locals: {event: event}
= link_to(event.user.name, event.user)
voted
= event.object.positive? ? 'up' : 'down'
an answer written by
= event.try(:event_user).try(:name) || 'Anonymous'
= render partial: 'trust_events/time', locals: {event: event}
