= render partial: 'trust_events/trust', locals: {event: event}
= link_to(event.user.name, event.user)
voted
= event.object.positive? ? 'up' : 'down'
an answer written by
- answer_user_name = event.object.try(:user).try(:name)
= answer_user_name.present? ? link_to(answer_user_name, event.object.try(:user)) : 'Anonymous'
= render partial: 'trust_events/time', locals: {event: event}
