= render partial: 'trust_events/trust', locals: {event: event}
= link_to(event.user.name, event.user)
voted
= event.object.positive? ? 'up' : 'down'
a
= link_to('question', event.object.question)
written by
= event.try(:event_user).try(:name) || NO EVENT USER 
= render partial: 'trust_events/time', locals: {event: event}
