= render partial: 'trust_events/trust', locals: {event: event}
= link_to(event.user.name, event.user)
voted
= event.object.positive? ? 'up' : 'down'
a
= link_to('question', event.object.question)
written by
- question_user_name = event.object.try(:user).try(:name)
= question_user_name.present? ? link_to(question_user_name, event.object.try(:user)) : 'Anonymous'
= render partial: 'trust_events/time', locals: {event: event}
