= render partial: 'trust_events/time', locals: {event: event}
= link_to(event.user.name, event.user)
added a
= "#{link_to('question', event.event_object)}.".html_safe
= render partial: 'trust_events/trust', locals: {event: event}
