.col-sm-12
  - if notice.present?
    %p#notice= notice

  %h3
    = @topic.title

  %h6= @topic.description

  .ask_a_question
    %h4 Ask A Question
    ASK A QUESTION TEXT FIELD

  %h4 Questions
  .questions
    - @topic.questions.each do |question|
      .question
        %p
          %strong Q:
          = link_to(question.text, question)
        .small
          = truncate(question.answers.first.text, length: 90)
