.content
  = render 'topics/topic_path', topic: @topic
  .small.subtopics
    %strong Subtopics:
    &nbsp;
    - @topic.subtopics.most_questions.each do |subtopic|
      = link_to("#{subtopic.title} (#{subtopic.recursive_questions_count})", subtopic)
      &nbsp;&nbsp;
    = link_to "#{fa_icon('plus-circle')} New Subtopic".html_safe, new_topic_path(parent_topic_id: @topic.id)

  %h3.topic-title
    = @topic.title
    .description.small= markdown(@topic.description)

  .ask_a_question.col-xs-12
    .col-xs-12
      %h4 Ask A Question
    = form_for @question, html: {class: 'form-inline'} do |f|
      = f.hidden_field :topic_id
      .form-group
        .col-xs-9.col-sm-10.col-md-9.col-lg-10
          = f.text_field :text, class: 'question_field form-control', placeholder: "Your Question about #{@topic.title}"
        .col-xs-3.col-sm-2.col-md-3.col-lg-2
          = f.submit 'Ask', class: 'btn btn-action'
        .col-xs-12
          = f.text_area :details, class: 'details_field form-control', placeholder: "Additional details to help people answer your question."

  - if @topic.subtopics.present?
    .small.pull-right.filter
      = link_to_unless params[:f] == 't', 'This Topic', url_for(f: 't')
      &nbsp;|&nbsp;
      = link_to_if params[:f] == 't',  'Include Subtopics', url_for(f: nil)
  %h4 Questions
  = render partial: 'votable/tabs', locals: {records: (params[:f] == 't' ? @topic.questions : @topic.all_questions), type: 'questions'}
