.content
  %h3= @user.name

  %br

  %h4
    Total Trust:
    = @user.trust

  %br

  %h4 Recent Event Log

  %ul.log
    - @user.trust_events.order(created_at: :desc).limit(20).each do |trust_event|
      %li.highlighted_links_orange= render partial: "trust_events/#{trust_event.event_type}", locals: {event: trust_event}
    - if @user.trust_events.length < 20
      %li
        = @user.name
        registered for InfiniteQ.
        %strong + 100 Trust
