.col-sm-12.text-center
  %h3 Anonymous Vote Recorded

  %br
  %br

  %p Thank you for your vote.

  %br
  %br

  %p
    As an anonymous user (not logged in) your vote counts as
    = "#{pluralize(@object.trust.to_f/10.0, 'point')}."

  %p If you log in or create an account than this vote will count 10x more.

  %br
  %br

  %p Either way, thank you for contributing.

  %br
  %br

  %p
    = link_to "Log In", new_user_session_path
    &nbsp; &nbsp; &nbsp; &nbsp;
    = link_to "Register", new_user_registration_path

  %br
  %br

  %p= link_to "< Back", params[:return_to]
