.answer.col-sm-12
  .vote.col-sm-1
    = render partial: 'votes/vote', locals: {object: answer, positive: true}
    .down-vote
      = render partial: 'votes/vote', locals: {object: answer, positive: false}
    .vote-total
      %h3
        .small= (answer.vote_total.to_f / 10.0)
  .votable.col-sm-11
    .text= markdown(answer.text)
    .details.small
      = answer.created_at.strftime('%m/%d/%y')
      &nbsp; &nbsp;
      By
      = answer.user.present? ? link_to(answer.user.name, '') : 'Anonymous'
      &nbsp; &nbsp;
      = link_to fa_icon('pencil-square-o'), edit_answer_path(answer)
