<%= form_for(question_vote) do |f| %>
  <% if question_vote.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(question_vote.errors.count, "error") %> prohibited this question_vote from being saved:</h2>

      <ul>
      <% question_vote.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :question_id %>
    <%= f.number_field :question_id %>
  </div>

  <div class="field">
    <%= f.label :user_id %>
    <%= f.number_field :user_id %>
  </div>

  <div class="field">
    <%= f.label :trust %>
    <%= f.number_field :trust %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
