<p id="notice"><%= notice %></p>

<h1>Question Votes</h1>

<table>
  <thead>
    <tr>
      <th>Question</th>
      <th>User</th>
      <th>Trust</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @question_votes.each do |question_vote| %>
      <tr>
        <td><%= question_vote.question_id %></td>
        <td><%= question_vote.user_id %></td>
        <td><%= question_vote.trust %></td>
        <td><%= link_to 'Show', question_vote %></td>
        <td><%= link_to 'Edit', edit_question_vote_path(question_vote) %></td>
        <td><%= link_to 'Destroy', question_vote, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Question Vote', new_question_vote_path %>
