.flag
  %button.btn.btn-sm.btn-action{data: {toggle: 'modal', target: "##{flag.object.total_identifier}-flag-modal"}}
    = fa_icon('flag')
    Flag
  %h6
    %strong Flags:
    - flag_count = flag.object.flags.count
    %small= "(#{flag_count == 0 ? 'none' : flag_count})"

  - flag.object.flags.persisted.each do |f|
    .small.preview
      %strong Reason:
      = f.reason_string

      %br

      .pull-right.highlighted_links_orange
        = link_to 'Details', f

      %strong Action:
      = f.action_string

  = render partial: 'flags/flag_modal', locals: {flag: flag}
