- object_class = object.class.to_s.downcase
- direction = (positive ? 'up' : 'down')
- new_object_vote = object.public_send("#{object_class}_votes").new(positive: positive)
- already_voted = @temporary_user.try('voted_on?', object, positive) || current_user.try('voted_on?', object, positive)

= form_for [object, new_object_vote], remote: true, class: "#{direction}-vote" do |f|
  = f.hidden_field :positive
  = hidden_field_tag :return_to
  .vote
    - if already_voted
      = fa_icon("chevron-circle-#{direction}", class: 'already-voted')
    - else
      - if user_signed_in?
        = button_tag fa_icon("chevron-circle-#{direction}"), id: "vote-#{direction}-#{object.total_identifier}"
      - else
        - modal_id = "confirm-anonymous-#{object.total_identifier}#{local_assigns[:tab]}"
        = fa_icon("chevron-circle-#{direction}", data: {toggle: 'modal', target: "##{modal_id}"})
        = render partial: 'anonymous/submit_modal', locals: {modal_id: modal_id, object_name: 'vote', form: f}
