<p id="notice"><%= notice %></p>

<h1>Temporary Users</h1>

<table>
  <thead>
    <tr>
      <th>Ip address</th>
      <th>Votes</th>
      <th>Questions</th>
      <th>Answers</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @temporary_users.each do |temporary_user| %>
      <tr>
        <td><%= temporary_user.ip_address %></td>
        <td><%= temporary_user.votes %></td>
        <td><%= temporary_user.questions %></td>
        <td><%= temporary_user.answers %></td>
        <td><%= link_to 'Show', temporary_user %></td>
        <td><%= link_to 'Edit', edit_temporary_user_path(temporary_user) %></td>
        <td><%= link_to 'Destroy', temporary_user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Temporary User', new_temporary_user_path %>
